@charset "UTF-8";

/*Uso e estudo de grid
 1-> Layouts 1D e 2D

 Flexbox -> Layout unidimensional, pode alinhar itens verticalmente e horizontalmente
 Grid -> Itens posicionados em células, como em tabelas, definindo linhas e colunas ao mesmo tempo

*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

hr {
    color: black;
    width: 100%;
}

main {
    padding-top:0px !important;
    width: 100%;
}

#banner {
    background-image: url("../images/fundos/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.301);
    height: 150px;
    padding:0px;
}

main div#container_content {
    display: grid;
    /* 3 colunas: As das pontas vazias (1fr) e a central com o conteúdo (máximo 600px) */
    grid-template-columns: 1fr minmax(300px, 600px) 1fr; 
    width: 100%;
    row-gap: 20px;
}

#container_content > * {
    grid-column: 2;
    width: 100%;
}

/*div#container_content aside,
div#container_content article {
    background-color: aquamarine;
}*/

div#container_content div#container_hr {
    width: 100%;
    text-align: center;
}

#banner img {
    margin: 10px;
    width: 45px;
}

#container_foto {
    display: flex;
    justify-content: center;
    margin-top: -75px;
    background-color: transparent
}

#container_foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;

}

div#container_content article ul {
    text-align: start;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto auto;
    list-style-type: none;
}

div#container_content article ul li {
    margin-top: 10px;
}

div#container_content article ul li#nomePerfil {
    font-size: 2.5em;
}

@media screen and (max-width: 768px) {
    main {
        height: auto;
        min-height: 100vh;
        padding: 20px 0;
    }

    #container_login {
        flex-direction: column;
        width: 90%;
        height: auto;
        min-height: 500px;
        margin: 20px auto;
    }

    .decoracao-topo {
        width: 60px;
        top: -15px;
        right: -10px;
    }

    #contain_img {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }

    #contain_img h1 {
        font-size: 3.5em;
    }

    #contain_form {
        width: 100%;
        padding: 20px 10px;
    }

    #logo {
        width: 60px;
    }

    div#contato_container img {
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    main div#container_content {
        grid-template-columns: 10px 1fr 10px;
    }

    #container_foto {
        margin-top: -50px;
    }

    #container_foto img {
        width: 180px;
        height: 180px;
    }

    div#container_content article ul li#nomePerfil {
        font-size: 1.8em;
        text-align: center;
    }

    div#container_content article ul {
        padding: 0 15px;
    }

    #banner {
        height: 120px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 480px) {
    #container_foto img {
        width: 150px;
        height: 150px;
    }

    #contain_img p {
        font-size: 0.9em;
    }
}